---
import Layout from '../layouts/Layout.astro'
---

<Layout title="404 Not Found">
    <div class="grid justify-center">
        <h1 class="text-center text-white">Esta pagina no existe ...</h1>
        <img src="https://media1.tenor.com/m/5ety3Lx3QccAAAAC/its-fine-dog-fine.gif" />
    </div>
</Layout>

