---
import Layout from "../layouts/Layout.astro"
---

<Layout title="SpaceX Launches">
    <div class="mx-auto py-8 px-4 w-full">
        <p class="text-white">esta es una pagina para encontrar informacion sobre todos los lanzamientos de SpaceX
        </p>

    </div>

</Layout>